body {
  margin: 0;
}

/* navigation-bar */

.navbar-brand {
  font-size: 1.6rem;
}

.container-fluid {
  margin: 0 300px;
}

/* slide-show */

.hotel-photo {
  width: 100%;
  height: 600px;
}

/* booking */

.booking-area {
  background: rgba(189, 188, 188, 0.627);
  box-shadow: 0 0.625rem 0.9375rem 0 rgb(0 0 0 / 10%);
  margin-top: -4rem;
  padding: 3.125rem 1.875rem;
  position: relative;
  z-index: 2;
}

.booking-area .form-control,
.booking-area .form-select {
  border: 0.0625rem solid black;
  height: 2.5rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: black;
  font-weight: 500;
}

.booking-area .form-control:focus,
.booking-area .form-select:focus {
  outline: none;
  box-shadow: none;
}

section {
  padding: 3.125rem 0;
}

.about_wrapper {
  padding-top: 9.375rem;
}

.main-btn {
  font-size: 0.875rem;
}

h3 {
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 3rem;
}

h3 span {
    color: rgb(145, 124, 2);
    font-weight: 800;
}

#about  p {
    font-size: 1.25rem;
}